In [1]:
import pandas as pd 
import numpy as np

In [65]:
headers = ["status", "duration", "credit_history", "purpose", "credit_amount", "savings_account", "present_employment", "installment_rate","personal_status_sex", "guarantors", "residence", "property", "age", "installment_plan", "housing", "existing_credits", "job", "liables", "telephone", "foreign", "class"]

In [66]:
df = pd.read_csv("/Users/Peeradon/Desktop/SoftDev_DSAI/SC348810-Software-Development-and-Project-Management-for-Data-Science-and-Artificial-Intelligence/punch/dataset/german.csv",sep=' ', names=headers)
df.shape

(1000, 21)

In [67]:
df.head()

,status,duration,credit_history,purpose,credit_amount,savings_account,present_employment,installment_rate,personal_status_sex,guarantors,...,property,age,installment_plan,housing,existing_credits,job,liables,telephone,foreign,class
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [68]:
# check info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   status               1000 non-null   object
 1   duration             1000 non-null   int64
 2   credit_history       1000 non-null   object
 3   purpose              1000 non-null   object
 4   credit_amount        1000 non-null   int64
 5   savings_account      1000 non-null   object
 6   present_employment   1000 non-null   object
 7   installment_rate     1000 non-null   int64
 8   personal_status_sex  1000 non-null   object
 9   guarantors           1000 non-null   object
 10  residence            1000 non-null   int64
 11  property             1000 non-null   object
 12  age                  1000 non-null   int64
 13  installment_plan     1000 non-null   object
 14  housing              1000 non-null   object
 15  existing_credits     1000 non-null   int64
 16  job                  1000 non-null   object
 17  liables              1000 non-null   int64
 18  telephone            1000 non-null   object
 19  foreign              1000 non-null   object
 20  class                1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [69]:
# check for uniqueness
unique_counts = pd.DataFrame.from_records([(col, df[col].nunique()) for col in df.columns], columns=['Column_Name', 'Num_Unique'])
unique_counts

            Column_Name  Num_Unique
0                status           4
1              duration          33
2        credit_history           5
3               purpose          10
4         credit_amount         921
5       savings_account           5
6    present_employment           5
7      installment_rate           4
8   personal_status_sex           4
9            guarantors           3
10            residence           4
11             property           4
12                  age          53
13     installment_plan           3
14              housing           3
15     existing_credits           4
16                  job           4
17              liables           2
18            telephone           2
19              foreign           2
20                class           2

In [70]:
for col in df.columns:
    if np.dtype(df[col]) == "object":
        print(col)

status
credit_history
purpose
savings_account
present_employment
personal_status_sex
guarantors
property
installment_plan
housing
job
telephone
foreign